<div>
    <h1>Restaura la contraseña del usuario</h1>
    <form id="restoreForm">
        <label>correo electronico</label>
        <input name="email">
        <label > nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

<script src="../public/js/restore.js"></script>